.my-head {
    padding: 0 1%;
    background: #122c46;
    height: 70px;
}

.navbar-brand {
    color: white;
}

.navbar-brand img {
    display: inline-block;
}

#navbar {
    background: #122c46;
}

nav {
    background: #122c46;
}

ul a {
    color: #fff;
    cursor: pointer;
}

ul a:focus {
    color: #fff;
    cursor: pointer;
}

ul a:hover {
    background: none;
    color: #fff;
    cursor: pointer;
}
