<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:center; padding-top: 80px;">
    <div class="row">
        <app-header 
        (onLoggedin)="userIsLoggedIn($event)"
        (issCurrentOut)="issCurrent($event)"
        (issPassOut)="issPass($event)"
        (issHistoryOut)="issHistory($event)"
        ></app-header>
    </div>
    <div class="row">
        <app-map 
            [loggedin]='loggedin'
            (currentLocation)='currentLocation($event)'
            [searchLat]='lat'
            [searchLng]='lng'
            [flip]='flip'
            [startTimer]='startTimer'
        ></app-map>
        <div class="col-md-4">
            <div *ngIf="showIssCurrent || !loggedin" class="row" style="text-align: justify;">
                <h3  style="text-align: center;"> Welcome to ISS Location</h3>
                <p>
                    The International Space Station (ISS) is moving at close to 28,000
                        km/h so its location changes really fast! The Map to your 
                        left show's the current possition of the ISS over the earth. 
                        The Map is updated evrey 5 seconds.
                </p>
                <hr>
                <div *ngIf="loggedin">
                    <p>
                        The ISS is currently over {{latC}} ° N, {{lngC}} ° E
                    </p>
                    <p>
                        Number of People in Space {{noPeopleInSpace}}
                    </p>
                    <ul *ngFor="let person of peopleInSpace">
                        <li><b>Name:</b> {{person.name}}<br> <b>Craft: </b> {{person.craft}}</li>
                    </ul>
                </div>
                
                <p *ngIf="!loggedin">
                    Signing up will give you access to the following.
                        <li>To find upcoming ISS passes for a particular location</li>
                        <li>To be able to view ur ISS location search History</li>
                        <li>To know how many poeple are currently in space</li>
                </p>
            </div>
            <div class="row">
                <app-signup *ngIf="!loggedin"></app-signup>
                <app-find-pass (searchLocation)="searchLocation($event)"  *ngIf="showIssPass && loggedin"></app-find-pass>
                <app-view-iss-pass  *ngIf="showIssViewPass && loggedin"></app-view-iss-pass>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; 2018 Syne, Inc.</p>
    </footer>
</div>

